.professional-experience {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: fit-content;
      /* background-color: aqua; */
}

.title-tab {
      display: flex;
      /* background-color: #33cccc; */
      color: #fff;
      width: 100%;
      height: auto;
      padding: 10px;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      /* font-size: 1.2rem; */
}

.experience-data {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      /* justify-content: center; */
      /* background-color: #fff; */
      /* margin: 20px; */
      /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.philips-logo {
      width: 150px;
      height: 200px;
      padding: 20px;
      /* border-right: 1px solid rgb(222, 222, 222); */
}

.jio-logo {
      width: 150px;
      height: 150px;
      padding: 20px;
      /* border-right: 1px solid rgb(222, 222, 222); */
}

.company-data {
      padding-left: 20px;
}

.company-name {
      /* font-size: 0.7rem;       */
      border-bottom: 1px solid #c2d1f0;
}

.company-period {
      font-size: 1.2rem;
}

.company-duration {
      font-size: 1.2rem;
}

.company-role {
      font-size: 1.2rem;
}

* {
      box-sizing: border-box;
}

.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* opacity: 0.5; */
      background-color: #ebfafa;
      width: 48%;
      height: 20vw;
      /* margin-left: 20px; */
      margin-top: 20px;
      color: #fff;
}

/* #philips {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/philips-company-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}

#jio {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/jio-company-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
} */

.info {
      color: white;
      position: absolute;
      top: 115vh;
      bottom: 0;
      left: 20px;
      right: 0;
      width: 45vw;
      opacity: 1;
      transition: .5s ease;
      background-color: #1f2020;
}

.card:hover .info {
      opacity: 1;
}

.left {
      border-left: 1px solid #333333;
}

.right {
      border-right: 1px solid #333333;
}